**/.DS_Store
__pycache__/
binmaker-debug.py

bootloader/Release
bootloader/Debug
sw/Release
sw/Debug
sw/.settings/language.settings.xml
sw/.settings/org.eclipse.cdt.core.prefs
sw/.settings/org.eclipse.cdt.core.prefs
sw/.settings/com.st.stm32cube.ide.mcu.sfr.prefs
sw/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs
sw/.DS_Store
sw/.vscode
.vscode
sw/plinkyblack Debug.cfg
sw/plinkyblack Debug.launch
sw/plinkyblack Release.cfg
sw/plinkyblack Release (1).launch
sw/plinkyblack Release.launch

hw/.DS_Store
hw/plinkyblackfront/.DS_Store

hw/WIP_inputfix/plinkyblack-backups
hw/WIP_inputfix/\#auto_saved_files\#
hw/WIP_inputfix/fp-info-cache
hw/WIP_inputfix/fp-info-cache

hw/v2/plinkyblack-backups/
hw/v2/plinkyblack.kicad_prl
hw/v2/plinkyblack.kicad_pro
hw/v2/plinkyblack.kicad_sch
hw/v2/plinkyblack.kicad_prl
hw/v2/plinkyblack.kicad_pro

hw/plinkyblack_hwmidi/production/20231005_plinkyblack_hwmidi.zip

hw/plinkyblackfront/plinkyblackfront-backups/
hw/plinkyblack_hwmidi_jacks/plinkyblack_hwmidi_jacks-backups/
hw/plinky_front_osh/plinky_back_osh-backups/
hw/plinky_front_osh/plinky_front_osh-backups/
hw/testjig/testjig-backups/
hw/testjig/*.svg
