**/.DS_Store
hw/WIP_inputfix/plinkyblack-backups
hw/WIP_inputfix/\#auto_saved_files\#
hw/WIP_inputfix/fp-info-cache
hw/WIP_inputfix/fp-info-cache

bootloader/Release
sw/Release
bootloader/Debug
sw/Debug
__pycache__/
hw/.DS_Store
hw/.DS_Store
